main {
    height: 78vh;
    width: 100%;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Lobster', cursive;
    font-size: 3.7rem;
    margin-bottom: 3.7rem;
    font-weight: normal;
}

.login_btn {
    height: 2.3rem;
    width: 15rem;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    color: white;
    box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, .15);
    background: rgb(221, 190, 92);
    background: linear-gradient(90deg, rgba(221, 190, 92, 1) 22%, rgba(205, 166, 40, 1) 73%);
}


@media (max-width: 650px) {

    h2 {
        font-family: 'Lobster', cursive;
        font-size: 4.2rem;
    }

    .login_btn {
        height: 3rem;
        width: 20rem;
        font-size: 1.4rem;
    }
}


@media (max-width: 600px) {

    h2 {
        font-family: 'Lobster', cursive;
        font-size: 4.2rem;
    }

    .login_btn {
        height: 3rem;
        width: 20rem;
        font-size: 1.4rem;
    }
}



@media (max-width: 320px) {

    main {
        height: 90%;
        color: whitesmoke;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    main section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-family: 'Lobster', cursive;
        font-size: 30px;
        letter-spacing: 3px;
        margin-bottom: 15px;
    }

    .login_btn {
        height: 20px;
        width: 40%;
        font-size: 7px;
        letter-spacing: 1px;
        cursor: pointer;
        border: none;
        border-radius: 50px;
        text-transform: uppercase;
        color: white;
        box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, .15);
        background: rgb(221, 190, 92);
        background: linear-gradient(90deg, rgba(221, 190, 92, 1) 22%, rgba(205, 166, 40, 1) 73%);

    }
}
