nav {
    position: absolute;
    width: 100%;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile_nav {
    display: none;
}

ul {
    height: 50px;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-transform: uppercase;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-circle {
     font-size: 20px;
     color: white;
 }


ul li {
    width: 20%;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.li_right {
    text-align: right;
}



@media (max-width: 320px) {

    ul.nav {
        height: 50px;
        width: 50px;
        background-color: grey;
    }

    .mobile_nav {
        height: 40px;
        width: 40px;
        position: absolute;
        cursor: pointer;
        right: 10px;
        top: 10px;
        background: rgba(250, 250, 240, 0.514);
        box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, .15);
    }

    nav ul {
        display: none;
    }

}
