
footer {
    height: 10%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
    font-size: 1rem;
    padding: 0 6rem 0 6rem;
    box-sizing: border-box;
}

.copy_rights {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.privacy_container {
    letter-spacing: 0.4rem;
}

.designed_by_author {
    font-weight: bold;
    letter-spacing: 1px;

}

@media (max-width: 320px) {

    footer {
        height: 30px;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: whitesmoke;
        font-size: 7px;
        padding: 0 10px 0 10px;
        box-sizing: border-box;
        font-family: 'Josefin Sans', sans-serif;
    }

    .copy_rights {
        text-transform: uppercase;
    }

    .privacy_container {
        letter-spacing: 0.5px;
    }

    .designed_by_author {
        font-weight: bold;
    }

}
